.hero.outer 
    .container 
        .offer 
            +h1("Limit Orders, Decentralised")
            +t1("A decentralised exchange with the best speeds, lowest fees and maximum custody of your assets. The only limit is you.", "_fw-m")
            +button("Start Tranding")
        .hero__img
            img(src=require("../../assets/images/hero-img.png"), alt="")
        