.advantages.outer
    .container
        .advantages__col
            .advantages__img
                img(src=require("../../assets/images/advantages/1.png"), alt="image")
            +h5("Permissionless Initial Offering")
            +b4("Bring permissionlessness to initial token offering that anyone can launch or participate.", "_fw-m")
        .advantages__col
            .advantages__img
                img(src=require("../../assets/images/advantages/2.png"), alt="image")
            +h5("Fast L1-L2 Bridge")
            +b4("Make L1-to-L2 cheaper, and L2-to-L1 faster. Asset transfers between L2s will also be enabled.", "_fw-m")
        .advantages__col
            .advantages__img
                img(src=require("../../assets/images/advantages/3.png"), alt="image")
            +h5("Compliant Fiat Gateway")
            +b4("Provide L2 users with a direct fiat on/off -ramp that is fully compliant.", "_fw-m")