nav.menu 
    ul.menu__wrapper
        li
            a(class="link", data-scroll-to=".hero", href="#") Home
        li
            a(class="link", data-scroll-to=".bridge", href="#") Bridge
        li
            a(class="link" href="#") DG Token
        li
            a(class="link" href="#") Whitepaper
        li
            a(class="link" href="#") DAO