nav.menu 
    ul.menu__wrapper
        li
            a(href="#") Home
        li
            a(href="#") Bridge
        li
            a(href="#") DG Token
        li
            a(href="#") Whitepaper
        li
            a(href="#") DAO