include ../../components/ui/button/button.pug

include ../../components/ui/captions/c1/c1.pug
include ../../components/ui/captions/c2/c2.pug

include ../../components/ui/headline/h1/h1.pug
include ../../components/ui/headline/h2/h2.pug
include ../../components/ui/headline/h3/h3.pug
include ../../components/ui/headline/h4/h4.pug
include ../../components/ui/headline/h5/h5.pug
include ../../components/ui/headline/h6/h6.pug

include ../../components/ui/body/b1/b1.pug
include ../../components/ui/body/b2/b2.pug
include ../../components/ui/body/b3/b3.pug
include ../../components/ui/body/b4/b4.pug

include ../../components/ui/subtitles/t1/t1.pug
include ../../components/ui/subtitles/t2/t2.pug
include ../../components/ui/subtitles/t3/t3.pug

html
    head
        link(href=require("../../assets/styles/styles.scss") rel="stylesheet")
        title Criftocy
    body
        .root 
            include ../../components/header/header.pug
            main.page
                include ../../components/hero/hero.pug
                include ../../components/advantages/advantages.pug
                include ../../components/live/live.pug
                include ../../components/bridge/bridge.pug
                include ../../components/we-pioneer/we-pioneer.pug
        script(src=require("./main.js")) 