.header{
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: $color-light-primary;

    .logo{
        position: relative;
        z-index: 10;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burger__body{
        display: flex;
        align-items: center;
        gap: 60px;
    }
}

@media (max-width: $point-xl){
    .header{
        .burger{
            &__body{
                position: fixed;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-light-secondary;
                z-index: 5;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                transition: .3s;

                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 136px;
                    background-color: $color-light-primary;
                }
                &._open{top: 0;}
            }
            &__button{
                background-color: transparent;
                position: relative;
                z-index: 10;
                width: 30px;
                height: 20px;

                &::before,
                &::after,
                span{
                    position: absolute;
                    left: 0;
                    background-color: $dark-color;
                    width: 100%;
                    height: 20%;
                    border-radius: 2px;
                }
                &::before,
                &::after{
                    content: "";
                    transition: .3s;
                }
                &::before{top: 0;}
                &::after{bottom: 0;}
                span{
                    top: 50%;
                    transform: scale(1) translateY(-50%);
                }
                &._open::before{
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
                &._open::after{
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                &._open span{transform: scale(0);}
            }
        }
        .menu__wrapper{
            flex-direction: column;
        }
    }
}