header.header.outer 
    .container 
        +logo()
        .header__body
            button.burger__button 
                span
            .burger__body
                include ./menu/menu.pug
                +button("Contact US", "_sm")