header.header.outer 
    .container 
        a(class="logo" href="#") Criftocy
        nav.menu 
            ul.menu__wrapper
                li.a(href="#") Home
                li.a(href="#") Bridge
                li.a(href="#") DG Token
                li.a(href="#") Whitepaper
                li.a(href="#") DAO
            button.btn.btn--primary Contact US