footer.footer.outer 
    .container
        .footer__col 
            +logo()
            p.copyright © 2021 Criftocy Home DAO
        .community
            +h5("Join Community")
            .community__wrapper 
                .community__col 
                    a(href="#") Forum
                    a(href="#") YouTube
                .community__col 
                    a(href="#") Discord
                    a(href="#") Github
                .community__col 
                    a(href="#") Twitter
                    a(href="#") Medium
                .community__col 
                    a(href="#") Telegram
                    a(href="#") Telegram(CN)
