section.product-roadmap.outer 
    .container 
        +h2("Product Roadmap")
        .product-roadmap__roadmap
            .product-roadmap__step
                .product-roadmap__card
                    span.pointer
                        span
                    +t1("2021 1H", "_fw-sb")
                    +t2("Whitepaper released Initial Uniswap Offering of DG token Social network-based token offering Liquidity Bootstrapping Pool on Balancer", "_fw-m")
            .product-roadmap__step
                .product-roadmap__card
                    span.pointer
                        span
                    +t1("2021 2Q", "_fw-sb")
                    +t2("Launch of Testnet Launch of Orderbook Mainnet and Layer 3 (Beta)", "_fw-m")
            .product-roadmap__step
                .product-roadmap__card
                    span.pointer
                        span
                    +t1("2021 2H", "_fw-sb")
                    +t2("Launch of Asset Bridge Alpha release (Internal testing) Integration of compliant fiat gateway", "_fw-m")
            .product-roadmap__step
                .product-roadmap__card
                    span.pointer
                        span
                    +t1("2021 2Q", "_fw-sb")
                    +t2("Mainnet Release (V1)", "_fw-m")
