section.join.outer 
    .container 
        +h4([
            {text: "Join our", color: null},
            {text: "Criftocy", color: "_c-b"},
            {text: "Team", color: null},
        ])
        +t2("We are hiring you on our team. are you available and contact us.", "_fw-m")
        +button("Contact US", "_bg-w")