@import "fonts";
@import "nullstyles";
@import "vars";

body{
    font-family: $ff-primary;
    background-color: #FBFBFB;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-bold;
    color: $dark-color;
    font-size: 60px;
}

.outer{
    padding-right: 20px;
    padding-left: 20px;
}

h2{font-size: 56px;}
h3{font-size: 48px;}
h4{font-size: 36px;}
h5{font-size: 24px;}
h6{font-size: 20px;}

.container{
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
}

/* MODS */
/* TEXT */
/* WEIGHT */
._fw-m{font-weight: $fw-medium;}
._fw-sb{font-weight: $fw-semibold;}
._fw-b{font-weight: $fw-bold;}
/* COLOR */
._c-w{color: $color-light-primary}
._c-r{color: $color-red;}
._c-b{color: $color-blue-primary;}

/* COMPONENTS */
@import "../../components/header/menu/menu.scss";
@import "../../components/logo/logo.scss";
@import "../../components/ui/button/button.scss";

@import "../../components/header/header.scss";
@import "../../components/hero/hero.scss";
@import "../../components/advantages/advantages.scss";
@import "../../components/live/live.scss";
@import "../../components/bridge/bridge.scss";
@import "../../components/we-pioneer/we-pioneer.scss";
@import "../../components/product-roadmap/product-roadmap.scss";
@import "../../components/shares/shares.scss";
@import "../../components/join/join.scss";
@import "../../components/subscribe/subscribe.scss";

/* UI */
@import "../../components/ui/headline/h1/h1.scss";
@import "../../components/ui/headline/h2/h2.scss";
@import "../../components/ui/headline/h3/h3.scss";
@import "../../components/ui/headline/h4/h4.scss";
@import "../../components/ui/headline/h5/h5.scss";
@import "../../components/ui/headline/h6/h6.scss";

@import "../../components/ui/body/b1/b1.scss";
@import "../../components/ui/body/b2/b2.scss";
@import "../../components/ui/body/b3/b3.scss";
@import "../../components/ui/body/b4/b4.scss";

@import "../../components/ui/captions/c1/c1.scss";
@import "../../components/ui/captions/c2/c2.scss";

@import "../../components/ui/subtitles/t1/t1.scss";
@import "../../components/ui/subtitles/t2/t2.scss";
@import "../../components/ui/subtitles/t3/t3.scss";
