$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$color-light-primary: #FFFFFF ;
$color-light-secondary: #FBFBFB;

$second-dark-color: #474D57;
$dark-color: #1E2329;
$color-blue-primary: #2196F3;
$color-red: #F44363;

$ff-primary: 'Poppins', sans-serif;

$point-sm: 576px;
$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;
$point-xxl: 1400px;

