section.live.outer
    .container
        +h4([
            {text: "Arbitrium Bridge is now", color: null},
            {text: "LIVE.", color: "_c-r"}
        ])
        +t1("The fastest and most efficient bridge from Ethereum to Arbitrum", "_fw-m")