section.we-pioneer.outer 
    .container 
        .we-pioneer__header
            +h3("We pioneer Layer 3")
            +t2("With ZK-technology, decentralised trading is now being re-imagined. Magnitudes faster, with 100% full custody of your own assets", "_fw-m")

        .we-pioneer__body
            .we-pioneer__row 
                .we-pioneer__col
                    .we-pioneer__img
                        img(src=require("../../assets/images/we-pioneer/1.png"), alt="Dollar")
                    +t1("No Gas Fees", "_fw-sb")
                    +t2("Any trasaction on ZKSwap Layer 2 network can be completed quickly without consuming any gas fee, which greatly reduces user usage cost.", "_fw-m")
                .we-pioneer__col
                    .we-pioneer__img
                        img(src=require("../../assets/images/we-pioneer/2.png"), alt="TCP")
                    +t1("Hyper-high TPS", "_fw-sb")
                    +t2("Any trasaction on ZKSwap Layer 2 network can be completed quickly without consuming any gas fee, which greatly reduces user usage cost.", "_fw-m")
            .we-pioneer__row 
                .we-pioneer__col
                    .we-pioneer__img
                        img(src=require("../../assets/images/we-pioneer/3.png"), alt="Trust")
                    +t1("No Gas Fees", "_fw-sb")
                    +t2("Any trasaction on ZKSwap Layer 2 network can be completed quickly without consuming any gas fee, which greatly reduces user usage cost.", "_fw-m")
                .we-pioneer__col
                    .we-pioneer__img
                        img(src=require("../../assets/images/we-pioneer/4.png"), alt="Key")
                    +t1("Hyper-high TPS", "_fw-sb")
                    +t2("Any trasaction on ZKSwap Layer 2 network can be completed quickly without consuming any gas fee, which greatly reduces user usage cost.", "_fw-m")
